;; shadow-cljs configuration
{:lein true
 :builds {:server {:output-dir "target/"
                   :output-to "target/server.js"
                   :target :node-script
                   :main server/main}
          :client {:output-dir "target/resources/public"
                   :target :browser
                   :modules {:client {:init-fn client/main}}}}}
